*{
  transition: 0.5s;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #8D99AE;
}

.box {
  display: inline-block;
  border: 2px solid #FF9F1C;
  border-radius: 15px;
  background: #011627;
  color: #FF9F1C;
  margin: 5px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 80px;
  font-family: 'baloo';
}

.row{
  display: inline-block;
}

.box_text {
  display: inline-block;
  vertical-align: middle;
  line-height: .7em;
  transform: translateY(-10px);
}

.win_box{
  font-size: 48px;
  color: #FF9F1C;
  text-align: center;
  font-family: 'baloo';
  min-height: 100px;
}

.main{
  max-width: 480px;
  margin: 0 auto;
}

.the_board{
  padding-left: 65px;
}

.reset_button{
  min-width: 100%;
  height: 48px;
  background: #e71d36;
  border: none;
  border-radius: 10px;
  font-family: 'baloo';
  font-size: 40px;
  line-height: 0.8em;
  color: #aDb9cE;
  box-shadow: 2px 2px 5px black;
  text-shadow: 1px 1px 7px black;


}
